<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom_styles.css') }}"> <!-- Add this line to link the custom CSS file -->
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <a class="navbar-brand" href="#">
          <img src="https://i.imgur.com/US8mrzW.png" alt="Mixit.Life" class="logo">
          Welcome to Mixit.Life
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            {% if 'user_id' in session %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('dashboard') }}"><i class="fas fa-home"></i> Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('search') }}"><i class="fas fa-home"></i> Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('create_playlist', song_id=None) }}"><i class="fas fa-plus-circle"></i> Create Playlist</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('signup') }}"><i class="fas fa-user-plus"></i> User Sign up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('dj_signup') }}"><i class="fas fa-music"></i> DJ Sign up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}"><i class="fas fa-sign-in-alt"></i> Log in</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>

    <main class="container">

      <div class="row">
        <div class="col">
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{ message[1] }} alert-dismissible fade show" role="alert">
            {{ message[0] }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}
    
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>
    
    <footer class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p>&copy; 2023 Mixit.Life</p>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
  </body>
  </html>


