{% extends 'base.html' %}

{% block content %}
    <h1>Your Playlists</h1>
    {% for playlist in playlists %}
        <div>
            <h2>{{ playlist.name }}</h2>
            <p>{{ playlist.description }}</p>
            <h3>Songs in this playlist:</h3>
            <ul>
            {% for song in songs %}
                {% if song.playlist_id == playlist.id %}
                    <li>{{ song.track_name }} - {{ song.artist_name }}</li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endblock %}



        