{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h1>Get the party started anytime, anywhere with MixIt</h1>
    <p>Sign up or log in to Mixit.Life and start creating your ultimate DJ playlist. Share your favorite tracks with your favorite DJs and elevate your music game to the next level.</p>
    <a href="{{ url_for('signup') }}" class="button">Sign up now</a>
  </div>
  
  <div class="featured">
    <h2>Featured Playlists</h2>
    <div class="playlist-container">
      {% for playlist in playlists %}
        <div class="playlist">
          <img src="{{ playlist.cover_art }}" alt="{{ playlist.name }} cover art">
          <h3>{{ playlist.name }}</h3>
          <a href="{{ url_for('share_playlist', playlist_id=playlist.id) }}" class="button">Share with a DJ</a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block navlinks %}
  <a class="nav-link" href="{{ url_for('index') }}"><i class="fas fa-home"></i> Home</a>
  <a class="nav-link" href="{{ url_for('create_playlist') }}"><i class="fas fa-plus-circle"></i> Create Playlist</a>
  <a class="nav-link" href="{{ url_for('login') }}"><i class="fas fa-sign-in-alt"></i> Log in</a>
{% endblock %}

